@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
:root {
    --text-secondary: #a37b64;
    --primary-brown: #6f4632 !important;
    --secondary-wow1: #f9f6e6 !important;
    --secondary-wow2: #e9dbc4 !important;
    --orange: #f27d1e;
    --dark: #000;
    --light: #fff;
}
.text-secondary {
    color: var(--text-secondary);
}
.primary-brown {
    color: var(--primary-brown);
}
.secondary-wow1 {
    color: var(--secondary-wow1);
}
.secondary-wow2 {
    color: var(--secondary-wow2);
}
.dark {
    color: var(--dark);
}
.light {
    color: var(--light);
}
.orange {
    color: var(--orange);
}
* {
    font-family: 'Lato', sans-serif;
}
.hover-underline {
    text-decoration: none;
}
.hover-underline:hover {
    text-decoration: underline;
}
/* ===== DISCOUNT-BAR ===== */
.discount-bar {
    background-color: var(--orange);
    height: 3rem;
}
.discount-bar p {
    font-size: 1rem;
}

/* ===== SOCIAL-MEDIA ===== */
.social-media {
    height: 2.25rem;
    border-bottom: 1px solid #d7d7d7;
}
.social-media a {
    color: #4d4d4d;
    font-size: 1.6rem;
}
.logo img {
    height: 3.125rem;
    width: 6.313rem;
}

/* ===== HEADER ===== */
header {
    padding: 0.7rem 0 0 0;
    border-bottom: 1px solid #d7d7d7;
}
.wow-store-menu a {
    font-size: 1rem;
}

/* ===== BEST-SELLING ===== */
.best-selling {
    background-color: var(--secondary-wow1);
    padding: 2rem 0;
}
.best-selling-card {
    background-color: var(--light);
}
.best-selling-card h4 {
    font-weight: 500;
}
.best-selling-card .card-body {
    background-color: var(--light);
}
.best-selling-card .card-body .title {
    font-size: 16px;
    line-height: 1.5;
}
.best-selling .best-selling-card .card-body .title {
    font-size: 1rem;
    color: var(--dark);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines important*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.best-selling .best-selling-card .card-body .desc {
    font-size: 12px;
    color: #057508;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines important*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.addtocart {
    padding: 0.6rem 1rem;
    background-color: var(--orange);
}
.best-selling .owl-nav {
    display: none;
}
.best-selling .owl-dots {
    padding-top: 1rem;
}

/* ===== CONCERNS ===== */
.concerns {
    background-color: var(--secondary-wow2);
}
.section-heading h4 {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--primary-brown);
}
.owl-carousel .item {
    padding: 0 0.4rem;
}
.concerns img {
    border: 1px solid white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08);
}
.owl-theme .owl-dots {
    padding: 1rem 0;
}
.owl-theme .owl-dots .owl-dot span {
    background: var(--primary-brown);
}
.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: var(--orange);
}
.concerns .owl-nav {
    display: none;
}
/* ===== PRODUCT-CARD ===== */
.product-card {
    background-color: var(--light);
}
.product-card h4 {
    font-weight: 500;
}
.product-card .card-body {
    background-color: var(--light);
}
.product-card .card-body .title {
    font-size: 16px;
    line-height: 1.5;
}
.product-card .card-body .title {
    font-size: 1rem;
    color: var(--dark);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines important*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.product-card .card-body .desc {
    font-size: 12px;
    color: #057508;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    /* Limit to 2 lines important*/
    overflow: hidden;
    text-overflow: ellipsis;
}
.addtocart {
    padding: 0.6rem 1rem;
    background-color: var(--orange);
}
/* ===== NEW-LAUNCHES ===== */
.new-launches {
    background-color: var(--secondary-wow1);
    padding: 2rem 0 0 0;
}
.owl-nav {
    display: none;
}
/* ===== SHOP-BY-INGREDIENTS ===== */
.ingredients .owl-carousel .item .card {
    margin: 0 0 12px 0;
    padding: 12px;
    border: none !important;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .08) !important;
}
.ingredients .owl-carousel .item .card {
    transition: all 0.2s linear;
}
.ingredients .owl-carousel .item .card:hover {
    transform: translateY(-10px);
}
/* ===== SKIN-CARE ===== */
.skin-care {
    background-color: var(--secondary-wow1);
}
/* ===== HAIR-CARE ===== */
.hair-care {
    background-color: var(--secondary-wow1);
}